# Scratch notebook

In [1]:
import pandas as pd

from rdflib import Graph, Namespace
# from rdflib import URIRef, BNode, Literal
# from rdflib.namespace import OWL, RDF, RDFS, XSD
from owlready2 import *

* Owlready2 * Warning: optimized Cython parser module 'owlready2_optimized' is not available, defaulting to slower Python implementation

In [2]:
from onto_access import OntologyAccess

In [3]:
DATAPATH = "../data/INM713_coursework_data_pizza_8358_1_reduced.csv"

data_df = pd.read_csv(DATAPATH)
data_df.head(3)

,name,address,city,country,postcode,state,categories,menu item,item value,currency,item description
0,Little Pizza Paradise,Cascade Village Mall Across From Target,Bend,US,97701,OR,Pizza Place,Bianca Pizza,22.50,USD,NaN
1,Little Pizza Paradise,Cascade Village Mall Across From Target,Bend,US,97701,OR,Pizza Place,Cheese Pizza,18.95,USD,NaN
2,The Brentwood,148 S Barrington Ave,Los Angeles,US,90049,Brentwood,"American Restaurant,Bar,Bakery","Pizza, Margherita",12.00,USD,NaN

In [4]:
def loadOntology(urionto):

    # Method from owlready
    onto = get_ontology(urionto).load()

    print("Classes in Pizza Restaurant Ontology: " + str(len(list(onto.classes()))))
    for cls in onto.classes():
        if "http://dbpedia.org/ontology/" in cls.iri:
            print("\t" + cls.iri)

loadOntology("../1-OWL/pizza_restaurant_ontology4-slim.owl")

Classes in Pizza Restaurant Ontology: 28

In [7]:
if "name" in self.data_frame:
    
    #We give subject column and target type
    self.mappingToCreateTypeTriple("name", self.lab6.Country, useExternalURI)
    
    #We give subject and object columns (they could be the same), predicate and datatype 
    self.mappingToCreateLiteralTriple('country', 'country', self.lab6.name, XSD.string)
    
'''
Mapping to create triples like lab6:London rdf:type lab6:City
A mapping may create more than one triple
column: columns where the entity information is stored
useExternalURI: if URI is fresh or from external KG
'''
def create_type_triple(self, subject_column, class_type, useExternalURI):
    
    for subject in self.data_frame[subject_column]:
            
        #We use the ascii name to create the fresh URI for a city in the dataset
        if subject.lower() in self.stringToURI:
            entity_uri=self.stringToURI[subject.lower()]
        else:
            entity_uri=self.createURIForEntity(subject.lower(), useExternalURI)
        
        #TYPE TRIPLE
        #For the individuals we use URIRef to create an object "URI" out of the string URIs
        #For the concepts we use the ones in the ontology and we are using the NameSpace class
        #Alternatively one could use URIRef(self.lab6_ns_str+"City") for example 
        self.g.add((URIRef(entity_uri), RDF.type, class_type))

NameError: name 'self' is not defined

In [6]:
# Initialise graph
g = Graph()

# Bind namespace
NAMESPACE = Namespace("http://www.city.ac.uk/ds/inm713/feiphoon#")
CUSTOM_PREFIX = "fp"
g.bind("fp", NAMESPACE)

TypeError: __init__() missing 1 required positional argument: 'filename'